

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    --main-button-color: #0b949e;
  }
  
  ol, ul{
    padding-left: 0px;
  }

  li {
      margin-bottom: 0.3rem;
  }

  li::marker {
      content: ''
  }

  button {
      border-style: none;
  }

  .toggle {
      min-width: 150px;
      border-radius: 8px;
  }

  .moves, .bold-moves {
      min-width: 150px;
      border-radius: 8px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
      text-transform: uppercase;
      margin-bottom: 1rem;
  }
  
  .square {
    background: #ebebeb;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .winner {
      color: blue;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
    display: grid;
  }
  
  .bold {
      font-weight: bold;
  }

  .reset {
      background-color: var(--main-button-color);
      border-radius: 8px;
      border-style: none;
      margin-bottom: 1rem;
      padding: 0.5rem;
      min-width: 150px;
      color: white;

  }